<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="{{ site.baseurl }}"><img width= "200px" height="200px" alt="{{ site.title }}" src="/images/DCN_Curated_Square.png" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ site.baseurl }}"><img width="{{ site.logo.mobile_width }}" height="{{ site.logo.mobile_height }}" alt="{{ site.title }}" src="/images/DCN_Curated_Square.png" /></a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>
