---
layout: default
bodyClass: "page-home"
---


<style>
  .text {
  position: absolute;
  left: 15%;
  top: 15%;
}
  .wrapper{
    position: relative;
  }
</style>

<blockquote class = "highlighted-text">
  <h1> What is CURATE(D) Training? </h1>
<p>
Data curation is the encompassing work and actions taken by researchers and curators of a research data repository or data archive in order to provide meaningful and enduring access to research data. Within the Data Curation Network we’ve identified over 50 data curation activities that may be performed by researchers or curators to make data more Findable, Accessible, Interoperable, and Reusable (FAIR).

The goal of the CURATE(D) Training is to offer an introduction to applied data curation. This training is designed for those completely new to data curation, those hoping to refresh their data curation skills, or those looking to apply data curation knowledge to the management of their own research data. This training and associated CURATE(D) model are teaching and research tools that are presented and best understood sequentially.

These modules were developed as part of the Specialized Data Curation Training program funded by IMLS ##RE-85-18-004018.

</p>
</blockquote>

<style>

tr{
  border-style:solid;
  border-color: #000000;
  }

</style>


<div class="strip">
  <div class="container pt-6 pb-6 pb-md-12">
    <h2 style="text-align: center; color:#44729B">CURATE(D) Training Modules Overview</h2>
    <br>
    <div class="row justify-content-start">
      <b style="padding-right:10%; padding-bottom:2%;">Through completion of the CURATE(D) Training, you will learn how to:</b>
      {% assign weighted_services = site.services | sort: "weight" %}
      <table frames="hsides" rules="rows">
      {% for service in weighted_services %}
      <tr>
      <div class="">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <th style="color:#44729B; padding-top: 2%; padding-bottom: 2%;">{{ service.title }}</th>
            </h2>
            <td style="padding-top: 2%; padding-bottom: 2%;">{{ service.description | markdownify |strip_html}}</td>
            <br>
          </div>
        </div>
      </div>
    </tr>
      {% endfor %}
    </table>
    </div>
    <div class="row justify-content-center" style="padding-top: 5%;">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "data" | relative_url }}">Start CURATED Training</a>
      </div>
    </div>
  </div>
</div>
